.section-header {
    margin-top: 20px;
}

.section-title {
    font-size: 18px;
}

.form-group--align-end {
    display: flex;
    align-items: flex-end;
}

.alert-action {
    margin-left: auto;
}

.table-hidden {
    display: none;
}
